<!DOCTYPE html>
<html>
  <head>
    <title>New</title>
  </head>
  <body>
  	<h2>Enter info:</h2>
  	<form action="/new_landmark" method="POST">
  	Name: <input name="landmark name"><br>
  	Year completed: <input name="year"><br>
  	Important Figure associated with landmark: <input name="figure name"><br>
  	Title of figure: <input name="title name"><br>
  	<a>Does the figure have more titles?</a>
  	<label for="choice">Yes</label>
  	<input type="radio" name="yes" id="choice" value="yes">
  	<label for="choice">No</label>
  	<input type="radio" name="no" id="choice" value="no">
  	<input type="submit" value="Create Landmark!">
  	</form>
  </body>
</html>