<h1>Create</h1>
<form action="/landmarks/new" method="post">
  <input type="text" name="landmark[name]">
  <input type="text" name="landmark_name">
  <input type="text" id="landmark_year_completed" name="landmark[year_completed]">
  <input type="submit" value="Create New Landmark">
</form>