<h1><%= @landmark.name %></h1>
<table>
  <tr>
    <th>Year Completed</th>
    <th>Founder</th>
    <th>Titles of the Founder</th>
  </tr>
  <tr>
    <td><%= @landmark.year_completed %></td>
    <td><%= @landmark.figure.name %></td>
    <td><%= @landmark.figure.titles.reduce("") { |str, title| str == "" ? str << "#{title.name}" : str << ", #{title.name}" } %></td>
  </tr>
</table>
<a href='/landmarks'>Show all</a>
